In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# control display of seaborn data
pd. options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"CAF1DE"})

In [2]:
data1=pd.read_csv('2018CrimeStatisticsByCategoryOfCrime.csv')
data1

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCUSED CHARGED,NaN,NaN,NaN,ACCUSED CONVICTED,NaN,NaN,NaN,NaN,NaN,NaN,IMPRISONMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,Cases pending in Court,Male Adult,Male Juven.,Female Adult,Female Juven.,Male Adult,Male Juven.,Female Adult,Female Juven.,Acquitted,Discharged,Awaiting Trial,Male Adult,Male Juven.,Female Adult,Female Juven.,Death,Fined,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,9,10,NaN,NaN,NaN,11,NaN,NaN,NaN,12,13,14,NaN,NaN,NaN,15,16,17,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,144,609,7,17,-,377,-,11,-,10,42,193,249,3,4,-,-,107,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,1,1,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,93,641,12,76,-,323,8,44,-,1,56,297,121,2,3,-,-,120,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,500,"3,592",49,416,138,"2,183",54,314,19,29,280,"1,316","1,291",7,18,-,-,810,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121","38,411","79,083","2,355","5,988",596,"24,716",812,"1,944",223,"1,666","12,518","46,143","17,138",274,823,31,-,"1,967",83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [12]:

#import pandas as pd

df5 = pd.read_csv('UceResultsBySchool2011-2016.csv')

df5

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,176,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.7,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,151,NaN,99.3,150.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,153,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,113,107.0,94.7,6.0,5.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,109,NaN,100.0,109.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,73,NaN,97.3,71.0,2.7,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,85.0,57.4,1.0,0.7,15.0,10.1,5.0,3.4,44,0.0,0.0,0.0,0.0,5.0,11.4,32.0,72.7,1.0,2.3,5.0,11.4,1.0,2.3,104,0.0,0.0,12.0,11.5,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,50.0,73.5,0.0,0.0,5.0,7.4,0.0,0.0,28,0.0,0.0,1.0,3.6,4.0,14.3,21.0,75.0,0.0,0.0,2.0,7.1,0.0,0.0,40,0.0,0.0,1.0,2.5,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,71.0,55.5,1.0,0.8,36.0,28.1,10.0,7.8,24,0.0,0.0,0.0,0.0,0.0,0.0,17.0,70.8,0.0,0.0,5.0,20.8,2.0,8.3,104,0.0,0.0,4.0,3.8,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,26.0,57.8,0.0,0.0,14.0,31.1,2.0,4.4,14,0.0,0.0,1.0,7.1,0.0,0.0,7.0,50.0,0.0,0.0,5.0,35.7,1.0,7.1,31,0.0,0.0,0.0,0.0,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,25.0,50.0,0.0,0.0,17.0,34.0,3.0,6.0,28,0.0,0.0,0.0,0.0,0.0,0.0,15.0,53.6,0.0,0.0,10.0,35.7,3.0,10.7,22,0.0,0.0,1.0,4.5,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [13]:
import pandas as pd

df6 = pd.read_csv('MPsProfileInformation10thParliament.csv', encoding='latin-1')

df6

,No.,Name of M.P,District,Constituency,Political Party,Profession,Marital status,Phone number,Date of Birth,P.L.E School,P.L.E Year,U.C.E School,U.C.E Year,U.A.C.E School,U.A.C.E Year,First Degree,University of First Degree,Year of first Degree,Second Degree,University of Second Degree,Year of second degree,Third Degree,University of Third Degree,Year of Third Degree,Other Qualifications,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,1,Aadroa Alex Onzima,None,Ex-Officio,None,Administrator,Married,+256772411334/+256794336266,06-24-1952,"Oluvu Primary School, Arua",1969,NaN,NaN,NaN,NaN,Bachelor of Arts,Makerere University,2005,NaN,NaN,NaN,NaN,NaN,NaN,Diploma in Public Health Dentistry (Public Hea...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Ababiku Jesca,Adjumani,District Woman Representative,NRM,Teacher,Single,772315541,07/17/1975,Adjumani Girls Primary School,1990,Metu Secondary School,1994,Moyo Secondary School,1997,Bachelor of Education,Makerere University,2006,Masters in Education,Gulu University,2013,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dip.in Business Administration and Management,...","Member of Parliament, Parliament of Uganda, 20...","L.C.5 Representative, Lira District Local Gove...","Headteacher, Aromo Vocational Sec School, 1988...","Secretary Uganda National Farmers Ass, Lira Di...","Commercial officer, Ministry of Commerce, 1982...","Chairman National Resistance Council, Aromo Ci...","Youth Leader U.P.C Party, Lira North constitue...","Secretary Student Council, Lango College, 1972...","Headteacher, Onono Memorial S.S, 1975-1981",NaN,"Music, dance, Drama, Singing, Hunting",Conflicts management,NaN,"Red Cross, Trade Technology, Cultural Group",Committee on Science and Technology,Member
2,3,ABACANON CHARLES ANGIRO GUTOMOI,Lira,ERUTE COUNTY NORTH,FDC,Farmer,Married,392944775,05-17-1949,East African Exams Council,1966,East African Examination Council,1972,East African Examination Council,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dip.in Business Administration and Management,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ABALA DAVID,Ngora,Ngora County,NRM,Administrator,Married,"0772408242, 0702888820",10/3/75,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor Of Arts,Makerere University,2000,Masters Of Business Administration,Nkumba University,2008,NaN,NaN,NaN,"Diploma Public Administration, Makerere Instit...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,ABBAS AGABA MUGISHA,Kamwenge,Kitagwenda County,NRM,Lawyer/Advocate,Married,772628660,10/13/1979,NaN,NaN,Kibuli Secondary School,1997,Kibuli Secondary School,1999,BSc Education,Makerere University,2004,MBA-Human Resource,Kampala International University,2009,Master of Leadership and International Relations,Makerere University,2011,"Bachelor of Laws, Islamic University In Uganda...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,435,Wekomba Nambozo Sarah,Bulambuli,District Woman Representative,INDEPENDENT,Administrator,Single,772441445,07/15/1978,NaN,NaN,Tororo Girls School,1996,Tororo Girls School,1998,B.A Development Studies,Makerere University,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,436,Werikhe Kafabusa Michael,Mbale,Bungokho County South,NRM,NIL,Married,782797688,08/25/1955,NaN,NaN,Mbale Secondary School,1972,Mbale Secondary School,1975,Bachelors Degree in Social Sciences,Makerere University,1979,Masters Degree in Physical Planning,University Of Nottingham,1985,NaN,NaN,NaN,Post Graduate Diploma in Information Technolog...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,437,Woboya Vicent,Sironko,Budadiri County East,NRM,Administrator,Married,772347518,7/1/70,Bumasaga Primary School,1986,Mbale Senior Secondary School,1990,Mbale Senior Secondary School,1993,Bachelors in Social Sciences,Makerere University,1997,Masters in Public Administration and Management,Makerere University,2010,NaN,NaN,NaN,Post Graduate Diploma in Public Administration...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,438,Yaguma Wilberforce,Mbarara,Kashari North County,NRM,Politician,Married,772931800,07/17/1972,NaN,1976,NaN,1980,NaN,1983,Bachelors Of Commerce,Makerere University,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,439,Zaake Francis,Mityana,Mityana Municipality,INDEPENDENT,Business Man,Single,772735879,12/1/91,"Fairway Primary School, Mityana",2006,Mityana Mordern S.S,2010,Merryland High School,2012,Bachelors of Procurement & Logistics Mgt,Ndejje University,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df6.columns

Index(['No.', 'Name of M.P', 'District', 'Constituency', 'Political Party',
       'Profession', 'Marital status', 'Phone number', 'Date of Birth',
       'P.L.E School', 'P.L.E Year', 'U.C.E School', 'U.C.E Year',
       'U.A.C.E School', 'U.A.C.E Year', 'First Degree',
       'University of First Degree', 'Year of first Degree', 'Second Degree',
       'University of Second Degree', 'Year of second degree', 'Third Degree',
       'University of Third Degree', 'Year of Third Degree',
       'Other Qualifications', 'Past Job_1', 'Past Job_2', 'Past Job_3',
       'Past Job_4', 'Past Job_5', 'Past Job_6', 'Past Job_7', 'Past Job_8',
       'Past Job_9', 'Past Job_10', 'Hobbies', 'Special Interests',
       'Other Information', 'Professional Body Membership', 'Committee_1',
       'Role on Committee 1', 'Committee_2', 'Role on Committee 2',
       'Committee_3', 'Role on Committee 3', 'Committee_4',
       'Role on Committee 4', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77',
       'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81',
       'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85',
       'Unnamed: 86'],
      dtype='object')

In [15]:
df5.columns

Index(['YEAR', 'DISTRICT ', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1 ',
       'FEMALE % DIV1 ', 'FEMALE TOTAL DIV2 ', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X ',
       'MALE CANDIDATES', 'MALE TOTAL DIV1 ', 'MALE % DIV1 ',
       'MALE TOTAL DIV2 ', 'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3',
       'MALE TOTAL DIV4', 'MALE % DIV4 ', 'MALE TOTAL DIV7 ', 'MALE % DIV7',
       'MALE TOTAL DIV9 ', 'MALE % DIV9', 'MALE TOTAL X ', 'MALE % X'],
      dtype='object')

In [16]:
data1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'REPORTED CASES', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'PERFOMANCE', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'PERSONS TAKEN TO COURT', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37'],
      dtype='object')

In [17]:
print(data1.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
122    False
123    False
124    False
125    False
126    False
Length: 127, dtype: bool

In [18]:
print(df5.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
17634    False
17635    False
17636    False
17637    False
17638    False
Length: 17639, dtype: bool

In [19]:
print(df6.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
434    False
435    False
436    False
437    False
438    False
Length: 439, dtype: bool

In [20]:


# Check for missing values
missing_values = data1.isnull().sum()
print(missing_values)

Unnamed: 0                     32
Unnamed: 1                      2
REPORTED CASES                  2
Unnamed: 3                      2
Unnamed: 4                      2
Unnamed: 5                      2
PERFOMANCE                      2
Unnamed: 7                      2
Unnamed: 8                      2
Unnamed: 9                      2
Unnamed: 10                     2
PERSONS TAKEN TO COURT          1
Unnamed: 12                     3
Unnamed: 13                     3
Unnamed: 14                     3
Unnamed: 15                     1
Unnamed: 16                     3
Unnamed: 17                     3
Unnamed: 18                     3
Unnamed: 19                    18
Unnamed: 20                    18
Unnamed: 21                    18
SENTENCES IMPOSED BY COURTS    18
Unnamed: 23                    19
Unnamed: 24                    19
Unnamed: 25                    18
Unnamed: 26                    18
Unnamed: 27                    18
Unnamed: 28                    18
Unnamed: 29                    18
Unnamed: 30                    18
Unnamed: 31                    18
Unnamed: 32                    27
Unnamed: 33                    20
Unnamed: 34                    28
Unnamed: 35                    19
Unnamed: 36                    17
Unnamed: 37                    18
dtype: int64

In [21]:

# Check for missing values
missing_values = df5.isnull().sum()
print(missing_values)

YEAR                      0
DISTRICT                  0
SCHOOL                    1
TOTAL CANDIDATES        271
TOTAL DIV 1            4781
% DIV 1                   0
TOTAL DIV 2             759
% DIV 2                   0
TOTAL DIV 3             471
% DIV 3                   0
TOTAL DIV 4             751
% DIV 4                   0
TOTAL DIV 7           11150
% DIV 7                   0
TOTAL DIV 9            4185
% DIV 9                   0
TOTAL X                4235
% X                       0
FEMALE CANDIDATES         0
FEMALE TOTAL DIV1      9114
FEMALE % DIV1            58
FEMALE TOTAL DIV2      3307
FEMALE % DIV2            58
FEMALE TOTAL DIV3      1165
FEMALE % DIV3            58
FEMALE TOTAL DIV4       958
FEMALE % DIV4            58
FEMALE TOTAL DIV7     12875
FEMALE % DIV7            58
FEMALE TOTAL DIV9      5290
FEMALE % DIV9            58
FEMALE TOTAL X         7043
FEMALE % X               58
MALE CANDIDATES           0
MALE TOTAL DIV1        7601
MALE % DIV1             134
MALE TOTAL DIV2        2397
MALE % DIV2             134
MALE TOTAL DIV3        1240
MALE % DIV3             134
MALE TOTAL DIV4        1379
MALE % DIV4             134
MALE TOTAL DIV7       10131
MALE % DIV7             134
MALE TOTAL DIV9        7120
MALE % DIV9             134
MALE TOTAL X           7260
MALE % X                134
dtype: int64

In [22]:

# Check for missing values
missing_values = df6.isnull().sum()
print(missing_values)

No.                  0
Name of M.P          0
District             0
Constituency         0
Political Party      0
                  ...
Unnamed: 82        438
Unnamed: 83        439
Unnamed: 84        438
Unnamed: 85        438
Unnamed: 86        438
Length: 87, dtype: int64

In [27]:


# Check for null values in a specific column

null_values = df5['TOTAL DIV 4'].isnull().sum()
print(null_values)

751

In [29]:
md=df5['TOTAL DIV 4'].median()
df5['TOTAL DIV 4'].fillna(md,inplace=True)
print(df5)

       YEAR      DISTRICT                                              SCHOOL  \
0      2011         WAKISO                                 GAYAZA HIGH SCHOOL
1      2011         MUKONO                                 NAMILYANGO COLLEGE
2      2011         MUKONO                             MT.ST.MARY'S,NAMAGUNGA
3      2011         WAKISO                        UGANDA MARTYRS SS,NAMUGONGO
4      2011  BUSHENYI MAIN                                    KITABI SEMINARY
...     ...            ...                                                ...
17634  2016          ZOMBO      PAIDHA SECONDARY SCHOOL    P.O.BOX 117 PAIDHA
17635  2016          ZOMBO  PAKADHA SEED SECONDARY SCHOOL    P.O.BOX 143 P...
17636  2016          ZOMBO        CHARITY COLLEGE,PAIDHA    P.O.BOX 47 PAIDHA
17637  2016          ZOMBO  NEGRINI MEM. SECONDARY SCHOOL    P.O.BOX 156 P...
17638  2016          ZOMBO   JANGOKORO SEED SEC. SCHOOL    P.O.BOX 139 PAIDHA

       TOTAL CANDIDATES  TOTAL DIV 1  % DIV 1  TOTAL DIV 2  % DIV 2  \
0                 176.0        175.0     99.4          1.0      0.6
1                 151.0        150.0     99.3          NaN      0.0
2                 153.0        151.0     98.7          2.0      1.3
3                 222.0        216.0     97.3          6.0      2.7
4                  73.0         71.0     97.3          2.0      2.7
...                 ...          ...      ...          ...      ...
17634             148.0          0.0      0.0         12.0      8.1
17635              68.0          0.0      0.0          2.0      2.9
17636             128.0          0.0      0.0          4.0      3.1
17637              45.0          0.0      0.0          1.0      2.2
17638              50.0          0.0      0.0          1.0      2.0

       TOTAL DIV 3  % DIV 3  TOTAL DIV 4  % DIV 4  TOTAL DIV 7  % DIV 7  \
0              NaN      0.0         38.0      0.0          NaN      0.0
1              NaN      0.0         38.0      0.0          NaN      0.0
2              NaN      0.0         38.0      0.0          NaN      0.0
3              NaN      0.0         38.0      0.0          NaN      0.0
4              NaN      0.0         38.0      0.0          NaN      0.0
...            ...      ...          ...      ...          ...      ...
17634         30.0     20.3         85.0     57.4          1.0      0.7
17635         11.0     16.2         50.0     73.5          0.0      0.0
17636          6.0      4.7         71.0     55.5          1.0      0.8
17637          2.0      4.4         26.0     57.8          0.0      0.0
17638          4.0      8.0         25.0     50.0          0.0      0.0

       TOTAL DIV 9  % DIV 9  TOTAL X  % X  FEMALE CANDIDATES  \
0              NaN      0.0      NaN  0.0                176
1              NaN      0.0      1.0  0.7                  0
2              NaN      0.0      NaN  0.0                153
3              NaN      0.0      NaN  0.0                113
4              NaN      0.0      NaN  0.0                  0
...            ...      ...      ...  ...                ...
17634         15.0     10.1      5.0  3.4                 44
17635          5.0      7.4      0.0  0.0                 28
17636         36.0     28.1     10.0  7.8                 24
17637         14.0     31.1      2.0  4.4                 14
17638         17.0     34.0      3.0  6.0                 28

       FEMALE TOTAL DIV1   FEMALE % DIV1   FEMALE TOTAL DIV2   FEMALE % DIV2  \
0                   175.0            99.4                 1.0            0.6
1                     NaN             0.0                 NaN            0.0
2                   151.0            98.7                 2.0            1.3
3                   107.0            94.7                 6.0            5.3
4                     NaN             0.0                 NaN            0.0
...                   ...             ...                 ...            ...
17634                 0.0             0.0                 0.0            0.0
17635                 0.0             0.0                 1.0            3.6
17636                 0.0             0.0                 0.0            0.0
17637                 0.0             0.0                 1.0            7.1
17638                 0.0             0.0                 0.0            0.0

       FEMALE TOTAL DIV3  FEMALE % DIV3  FEMALE TOTAL DIV4  FEMALE % DIV4  \
0                    NaN            0.0                NaN            0.0
1                    NaN            0.0                NaN            0.0
2                    NaN            0.0                NaN            0.0
3                    NaN            0.0                NaN            0.0
4                    NaN            0.0                NaN            0.0
...                  ...            ...                ...            ...
17634                5.0           11.4               32.0           72.7
17635                4.0           14.3               21.0           75.0
17636                0.0            0.0               17.0           70.8
17637                0.0            0.0                7.0           50.0
17638                0.0            0.0               15.0           53.6

       FEMALE TOTAL DIV7  FEMALE % DIV7  FEMALE TOTAL DIV9  FEMALE % DIV9  \
0                    NaN            0.0                NaN            0.0
1                    NaN            0.0                NaN            0.0
2                    NaN            0.0                NaN            0.0
3                    NaN            0.0                NaN            0.0
4                    NaN            0.0                NaN            0.0
...                  ...            ...                ...            ...
17634                1.0            2.3                5.0           11.4
17635                0.0            0.0                2.0            7.1
17636                0.0            0.0                5.0           20.8
17637                0.0            0.0                5.0           35.7
17638                0.0            0.0               10.0           35.7

       FEMALE TOTAL X  FEMALE % X   MALE CANDIDATES  MALE TOTAL DIV1   \
0                 NaN          0.0                0               NaN
1                 NaN          0.0              151               NaN
2                 NaN          0.0                0               NaN
3                 NaN          0.0              109               NaN
4                 NaN          0.0               73               NaN
...               ...          ...              ...               ...
17634             1.0          2.3              104               0.0
17635             0.0          0.0               40               0.0
17636             2.0          8.3              104               0.0
17637             1.0          7.1               31               0.0
17638             3.0         10.7               22               0.0

       MALE % DIV1   MALE TOTAL DIV2   MALE % DIV2  MALE TOTAL DIV3  \
0               0.0               NaN          0.0              NaN
1              99.3             150.0          0.0              NaN
2               0.0               NaN          0.0              NaN
3             100.0             109.0          0.0              NaN
4              97.3              71.0          2.7              2.0
...             ...               ...          ...              ...
17634           0.0              12.0         11.5             25.0
17635           0.0               1.0          2.5              7.0
17636           0.0               4.0          3.8              6.0
17637           0.0               0.0          0.0              2.0
17638           0.0               1.0          4.5              4.0

       MALE % DIV3  MALE TOTAL DIV4  MALE % DIV4   MALE TOTAL DIV7   \
0              0.0              NaN           0.0               NaN
1              0.0              NaN           0.0               NaN
2              0.0              NaN           0.0               NaN
3              0.0              NaN           0.0               NaN
4              0.0              NaN           0.0               NaN
...            ...              ...           ...               ...
17634         24.0             53.0          51.0               0.0
17635         17.5             29.0          72.5               0.0
17636          5.8             54.0          51.9               1.0
17637          6.5             19.0          61.3               0.0
17638         18.2             10.0          45.5               0.0

       MALE % DIV7  MALE TOTAL DIV9   MALE % DIV9  MALE TOTAL X   MALE % X
0              0.0               NaN          0.0            NaN       0.0
1              0.0               NaN          0.0            NaN       0.7
2              0.0               NaN          0.0            NaN       0.0
3              0.0               NaN          0.0            NaN       0.0
4              0.0               NaN          0.0            NaN       0.0
...            ...               ...          ...            ...       ...
17634          0.0              10.0          9.6            4.0       3.8
17635          0.0               3.0          7.5            0.0       0.0
17636          1.0              31.0         29.8            8.0       7.7
17637          0.0               9.0         29.0            1.0       3.2
17638          0.0               7.0         31.8            0.0       0.0

[17639 rows x 48 columns]

In [31]:
dups=df5['TOTAL DIV 4'].duplicated
print(dups)

<bound method Series.duplicated of 0        38.0
1        38.0
2        38.0
3        38.0
4        38.0
         ...
17634    85.0
17635    50.0
17636    71.0
17637    26.0
17638    25.0
Name: TOTAL DIV 4, Length: 17639, dtype: float64>

In [32]:
# Check for null values in a specific column

null_values = data1['REPORTED CASES'].isnull().sum()
print(null_values)

2

In [33]:
data1['REPORTED CASES'].fillna("theft",inplace=True)
print(data1)

    Unnamed: 0             Unnamed: 1 REPORTED CASES           Unnamed: 3  \
0          NaN                    NaN          theft                  NaN
1          NaN                    NaN   Totals Cases  Cases under Inquiry
2        S/No.  CASE/CRIME INCIDENCES              1                    2
3          NaN              HOMICIDES          theft                  NaN
4            1   Death  (by shooting)            190                  117
..         ...                    ...            ...                  ...
122         98            UWA Statute            648                  112
123         99   Local Government Act              4                    2
124        100         All other Acts            821                  345
125        NaN  Sub Total(Other Laws)          3,006                  749
126        NaN            GRAND TOTAL        238,746               90,763

           Unnamed: 4            Unnamed: 5                 PERFOMANCE  \
0                 NaN                   NaN                        NaN
1    Not Detected/NPW  Cases taken to court  Cases submitted toDPP/RSA
2                   3                     4                          5
3                 NaN                   NaN                        NaN
4                  29                    44                         74
..                ...                   ...                        ...
122                89                   447                        485
123                 1                     1                          1
124               189                   287                        430
125               620                 1,637                      1,885
126            74,948                73,035                    101,116

                 Unnamed: 7             Unnamed: 8       Unnamed: 9  \
0                       NaN                    NaN              NaN
1    Cases with convictions  Cases with Acquittals  Cases Dismissed
2                         6                      7                8
3                       NaN                    NaN              NaN
4                         3                      1                1
..                      ...                    ...              ...
122                     269                      8               26
123                       -                      -                -
124                     173                      7               19
125                     991                     24              127
126                  22,263                  1,248           11,121

                Unnamed: 10 PERSONS TAKEN TO COURT  Unnamed: 12   Unnamed: 13  \
0                       NaN        ACCUSED CHARGED          NaN           NaN
1    Cases pending in Court             Male Adult  Male Juven.  Female Adult
2                         9                     10          NaN           NaN
3                       NaN                    NaN          NaN           NaN
4                        39                     85            -             -
..                      ...                    ...          ...           ...
122                     144                    609            7            17
123                       1                      1            -             -
124                      93                    641           12            76
125                     500                  3,592           49           416
126                  38,411                 79,083        2,355         5,988

       Unnamed: 14        Unnamed: 15  Unnamed: 16   Unnamed: 17  \
0              NaN  ACCUSED CONVICTED          NaN           NaN
1    Female Juven.         Male Adult  Male Juven.  Female Adult
2              NaN                 11          NaN           NaN
3              NaN                NaN          NaN           NaN
4                -                  4            -             -
..             ...                ...          ...           ...
122              -                377            -            11
123              -                  -            -             -
124              -                323            8            44
125            138              2,183           54           314
126            596             24,716          812         1,944

       Unnamed: 18 Unnamed: 19 Unnamed: 20     Unnamed: 21  \
0              NaN         NaN         NaN             NaN
1    Female Juven.   Acquitted  Discharged  Awaiting Trial
2              NaN          12          13              14
3              NaN         NaN         NaN             NaN
4                -           1           1              79
..             ...         ...         ...             ...
122              -          10          42             193
123              -           -           -               1
124              -           1          56             297
125             19          29         280           1,316
126            223       1,666      12,518          46,143

    SENTENCES IMPOSED BY COURTS  Unnamed: 23   Unnamed: 24    Unnamed: 25  \
0                  IMPRISONMENT          NaN           NaN            NaN
1                    Male Adult  Male Juven.  Female Adult  Female Juven.
2                           NaN          NaN           NaN             15
3                           NaN          NaN           NaN            NaN
4                             4            -             -              -
..                          ...          ...           ...            ...
122                         249            3             4              -
123                           -            -             -              -
124                         121            2             3              -
125                       1,291            7            18              -
126                      17,138          274           823             31

    Unnamed: 26 Unnamed: 27           Unnamed: 28 Unnamed: 29 Unnamed: 30  \
0           NaN         NaN                   NaN         NaN         NaN
1         Death       Fined  Probation Bound Over     CAUTION  COMM. WORK
2            16          17                    18          19          20
3           NaN         NaN                   NaN         NaN         NaN
4             -           -                     -           -           -
..          ...         ...                   ...         ...         ...
122           -         107                     -          15          10
123           -           -                     -           -           -
124           -         120                    21          41          60
125           -         810                    21         292         123
126           -       1,967                    83       2,976       4,373

                 Unnamed: 31       Unnamed: 32  Unnamed: 33   Unnamed: 34  \
0                        NaN  VICTIMS OF CRIME          NaN           NaN
1    Fines  Awarded (UgShs.)        Male Adult  Male Juven.  Female Adult
2                         21               NaN          NaN           NaN
3                        NaN               NaN          NaN           NaN
4                          -               197            4            17
..                       ...               ...          ...           ...
122              172,222,000               608            -             8
123                        -                 4            -             -
124               69,060,000               710           10            62
125              518,202,000             2,676           10           115
126            1,270,978,007           143,880       10,772        60,648

       Unnamed: 35             Unnamed: 36     Unnamed: 37
0              NaN  VALUE PROPERTY(UGSHS.)             NaN
1    Female Juven.                    Lost       Recovered
2               22                      23              24
3              NaN                     NaN             NaN
4                -              11,500,000               -
..             ...                     ...             ...
122              -              26,000,000      26,000,000
123              -                       -               -
124              9             241,790,000         440,000
125              9             274,390,000      26,440,000
126         24,184         495,067,703,285  60,589,926,327

[127 rows x 38 columns]

In [34]:
null_values = data1['PERSONS TAKEN TO COURT'].isnull().sum()
print(null_values)

1

In [35]:
null_values = data1['PERFOMANCE'].isnull().sum()
print(null_values)

2

In [36]:
null_values = data1.isnull().sum()
print(null_values)

Unnamed: 0                     32
Unnamed: 1                      2
REPORTED CASES                  0
Unnamed: 3                      2
Unnamed: 4                      2
Unnamed: 5                      2
PERFOMANCE                      2
Unnamed: 7                      2
Unnamed: 8                      2
Unnamed: 9                      2
Unnamed: 10                     2
PERSONS TAKEN TO COURT          1
Unnamed: 12                     3
Unnamed: 13                     3
Unnamed: 14                     3
Unnamed: 15                     1
Unnamed: 16                     3
Unnamed: 17                     3
Unnamed: 18                     3
Unnamed: 19                    18
Unnamed: 20                    18
Unnamed: 21                    18
SENTENCES IMPOSED BY COURTS    18
Unnamed: 23                    19
Unnamed: 24                    19
Unnamed: 25                    18
Unnamed: 26                    18
Unnamed: 27                    18
Unnamed: 28                    18
Unnamed: 29                    18
Unnamed: 30                    18
Unnamed: 31                    18
Unnamed: 32                    27
Unnamed: 33                    20
Unnamed: 34                    28
Unnamed: 35                    19
Unnamed: 36                    17
Unnamed: 37                    18
dtype: int64

In [37]:
#dropping empty cells
data3=data1.dropna()
data3

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,93,194,-,10,-,3,-,-,-,-,3,198,3,-,-,-,-,-,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,15,9,-,9,-,-,-,-,-,-,-,18,-,-,-,-,-,-,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,214,208,4,73,2,7,1,6,-,-,4,269,3,1,10,-,-,-,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,6,8,2,3,-,-,-,-,-,-,-,13,-,-,-,-,-,-,-,-,-,-,16,24,7,19,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,96,Firearms Act,109,38,23,48,54,17,-,3,28,61,1,2,1,20,-,-,-,-,4,41,17,1,-,-,-,1,-,1,-,"16,000,000",95,-,2,-,-,-
121,97,Enguli Act,4,3,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,5,-,-,-,-,-
122,98,UWA Statute,648,112,89,447,485,269,8,26,144,609,7,17,-,377,-,11,-,10,42,193,249,3,4,-,-,107,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,1,1,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,93,641,12,76,-,323,8,44,-,1,56,297,121,2,3,-,-,120,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [38]:
null_values = df6.isnull().sum()
print(null_values)

No.                  0
Name of M.P          0
District             0
Constituency         0
Political Party      0
                  ...
Unnamed: 82        438
Unnamed: 83        439
Unnamed: 84        438
Unnamed: 85        438
Unnamed: 86        438
Length: 87, dtype: int64

In [39]:
df6.columns

Index(['No.', 'Name of M.P', 'District', 'Constituency', 'Political Party',
       'Profession', 'Marital status', 'Phone number', 'Date of Birth',
       'P.L.E School', 'P.L.E Year', 'U.C.E School', 'U.C.E Year',
       'U.A.C.E School', 'U.A.C.E Year', 'First Degree',
       'University of First Degree', 'Year of first Degree', 'Second Degree',
       'University of Second Degree', 'Year of second degree', 'Third Degree',
       'University of Third Degree', 'Year of Third Degree',
       'Other Qualifications', 'Past Job_1', 'Past Job_2', 'Past Job_3',
       'Past Job_4', 'Past Job_5', 'Past Job_6', 'Past Job_7', 'Past Job_8',
       'Past Job_9', 'Past Job_10', 'Hobbies', 'Special Interests',
       'Other Information', 'Professional Body Membership', 'Committee_1',
       'Role on Committee 1', 'Committee_2', 'Role on Committee 2',
       'Committee_3', 'Role on Committee 3', 'Committee_4',
       'Role on Committee 4', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77',
       'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81',
       'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85',
       'Unnamed: 86'],
      dtype='object')

In [41]:
null_values = df6['Marital status'].isnull().sum()
print(null_values)

3

In [42]:
null_values = df6['Name of M.P'].isnull().sum()
print(null_values)

0

In [43]:
null_values = df6['Role on Committee 1'].isnull().sum()
print(null_values)

105

In [45]:
#dropping empty cells
data4=df6['Role on Committee 1'].dropna()
data4

1                Member
2                Member
3                Member
4      Vice Chairperson
5                Member
             ...
433              Member
434              Member
436              Member
437              Member
438              Member
Name: Role on Committee 1, Length: 334, dtype: object

In [2]:
# key objectives for analysing your dataset
# features of the colunms you are analyzing and why are you analyzing
# preprocessing and preparation head(10), tail(10)

import pandas as pd

df5.dropna(axis=1, how='all', inplace=True)

df5

NameError: name 'df5' is not defined